{% extends "base2.html" %}

{% block header %}
    <!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/compiled/theme.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/ionicons.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/brankic.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/font-awesome.min.css') }}" />

	<!-- javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/jquery.cookie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/theme.js') }}"></script>

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% endblock %}

{% block startbody %}
<body id="account">
{% endblock %}
{% block content %}
		<div id="content">

			<div id="sidebar">
				<div class="sidebar-toggler visible-xs">
					<i class="ion-navicon"></i>
				</div>
				
				<h3>My account</h3>
				<ul class="menu">
					<li>
						<a href="/account" class="active">
							<i class="ion-ios7-person-outline"></i>
							Profile
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-card"></i>
							Billing
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-ios7-email-outline"></i>
							Notifications
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-ios7-help-outline"></i>
							Support
						</a>
					</li>
				</ul>
			</div>

			<div id="panel" class="profile">
				<h3>
					Profile settings
				</h3>

				<p class="intro">
					Change your account information, avatar, login credentials, etc.
				</p>

				<form method="post" action="{{ url_for('merchant_admin') }}">
					<div class="form-group avatar-field clearfix">
					    <div class="col-sm-3">
					    	<img src="https://d2uo8ip60kn37k.cloudfront.net/merchant/{{ session.userid }}/profile.png" class="img-responsive img-circle" />
					    </div>
					    <div class="col-sm-9">
					    	<label>Set up your avatar picture</label>
					      	<input type="file" />
					    </div>
				  	</div>
				  	<div class="form-group">
						<label>First Name</label>
						<input type="text" class="form-control" placeholder="Enter first name" name="firstname" value="{{ info.fname }}" />
					</div>
					<div class="form-group">
						<label>Last Name</label>
						<input type="text" class="form-control" placeholder="Enter last name" name="lastname" value="{{ info.lname }}" />
					</div>
				  	<div class="form-group">
						<label>Email address</label>
						<input type="text" class="form-control" placeholder="Enter merchant name" name="merchantname" value="{{ info.mname }}" />
					</div>
					<div class="form-group">
						<label>Timezone</label>
						<select id="user_time_zone" data-smart-select>
							<option value="Hawaii">(GMT-10:00) Hawaii</option>
							<option value="Alaska">(GMT-09:00) Alaska</option>
							<option value="Pacific Time (US &amp; Canada)">
								(GMT-08:00) Pacific Time (US &amp; Canada)
							</option>
							<option value="Arizona">(GMT-07:00) Arizona</option>
							<option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
							<option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
							<option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
							<option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
							<option value="" disabled="disabled">-------------</option>
							<option value="American Samoa">(GMT-11:00) American Samoa</option>
							<option value="International Date Line West">(GMT-11:00) International Date Line West</option>
							<option value="Midway Island">(GMT-11:00) Midway Island</option>
							<option value="Tijuana">(GMT-08:00) Tijuana</option>
							<option value="Chihuahua">(GMT-07:00) Chihuahua</option>
							<option value="Mazatlan">(GMT-07:00) Mazatlan</option>
							<option value="Central America">(GMT-06:00) Central America</option>
							<option value="Guadalajara">(GMT-06:00) Guadalajara</option>
							<option value="Mexico City">(GMT-06:00) Mexico City</option>
							<option value="Monterrey" >(GMT-06:00) Monterrey</option>
						</select>
					</div>
					<div class="form-group">
						<label>Street 1</label>
						<input type="text" class="form-control" placeholder="Enter stress 1" name="street1"  value="{{ info.street1 }}" />
					</div>
					<div class="form-group">
						<label>Street 2</label>
						<input type="text" class="form-control" placeholder="Enter stress 2" name="street2"  value="{{ info.street2 }}" />
					</div>
					<div class="form-group">
						<label>City</label>
						<input type="text" class="form-control" placeholder="Enter city" name="city" value="{{ info.city }}" />
					</div>
					<div class="form-group">
						<label>state</label>
						<input type="text" class="form-control" placeholder="Enter state" name="state" value="{{ info.state }}" />
					</div>
					<div class="form-group">
						<label>country</label>
						<input type="text" class="form-control" placeholder="Enter country" name="country" value="{{ info.country }}" />
					</div>
					<div class="form-group">
						<label>phone</label>
						<input type="text" class="form-control" placeholder="Enter phone" name="phone" value="{{ info.phone }}" />
					</div>
					<div class="form-group">
						<label>subcat</label>
						<input type="text" class="form-control" placeholder="Enter subcat" name="subcat" value="{{ info.subcat }}" />
					</div>
					<div class="form-group">
						<label>ZIP</label>
						<input type="text" class="form-control" placeholder="Enter email" value="3352" />
					</div>
					<div class="form-group">
						<label>New password</label>
						<input type="password" class="form-control" />
					</div>
					<div class="form-group">
						<label>Confirm new password</label>
						<input type="password" class="form-control" />
					</div>
					<div class="form-group action">
						<input type="submit" class="btn btn-success" value="Save changes" />
					</div>
				</form>
			</div>

		</div>
	</div>
{% endblock %}
