<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
	{% block header %} {% endblock %}
	
</head>
{% block startbody %}{% endblock %}
	<div id="wrapper">
		<div id="sidebar-default" class="main-sidebar">
			<div class="current-user">
				<a href="/" class="name">
					<img class="avatar" src="https://d2uo8ip60kn37k.cloudfront.net/merchant/{{ session.userid }}/profile.png" />
					<span>
						{{ merchant_name }}
						<i class="fa fa-chevron-down"></i>
					</span>
				</a>
				<ul class="menu">
					<li>
						<a href="/account">Account settings</a>
					</li>
					<li>
						<a href="#">Billing</a>
					</li>
					<li>
						<a href="#">Notifications</a>
					</li>
					<li>
						<a href="#">Help / Support</a>
					</li>
					<li>
						<a href="/signout">Sign out</a>
					</li>
				</ul>
			</div>
			<div class="menu-section">
				<h3>General</h3>
				<ul>
					<li>
						<a href="/" {% if dashboard %} class="active" {% endif %}>
							<i class="ion-android-earth"></i> 
							<span>Dashboard</span>
						</a>
					</li>
					<!--<li>
						<a href="users.html" data-toggle="sidebar">
							<i class="ion-person-stalker"></i> <span>Lists & Tables</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="users.html">Customers list</a></li>
							<li><a href="datatables.html">Orders (Datatables)</a></li>
							<li><a href="search.html">Products (Filters)</a></li>
						</ul>
					</li>
					-->
					<li>
						<a href="/" {% if report %} class="active" {% endif %} data-toggle="sidebar">
							<i class="ion-stats-bars"></i> <span>Reports</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="/report-order" {% if report_order_menu %} class="active" {% endif %} >Sales by Day</a></li>
							<li><a href="/report-sales" {% if report_sales_menu %} class="active" {% endif %}>Sales by Month</a></li>
							<li><a href="/report-wire" {% if report_wire_menu %} class="active" {% endif %}>Wire Details</a></li>
						</ul>
					</li>
					<!--<li>
						<a href="users.html" data-toggle="sidebar">
							<i class="ion-pricetags"></i> <span>Forms</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="form.html">New Customer (validation)</a></li>
							<li><a href="form-product.html">New Product (add-ons)</a></li>
							<li><a href="wizard.html">Wizard</a></li>
						</ul>
					</li>
					-->
				</ul>
			</div>
			<!--
			<div class="menu-section">
				<h3>Application</h3>
				<ul>
					<li>
						<a href="account.html" data-toggle="sidebar">
							<i class="ion-earth"></i> <span>App Pages</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="sidebar.html">Inbox Messages</a></li>
							<li><a href="user-profile.html">User profile</a></li>
							<li><a href="latest-activity.html">Latest activity</a></li>
							<li><a href="projects.html">Projects</a></li>
							<li><a href="steps.html">Steps to launch</a></li>
							<li><a href="calendar.html">Calendar</a></li>
						</ul>
					</li>
					<li>
						<a href="account.html" data-toggle="sidebar">
							<i class="ion-card"></i> <span>Pricing</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="pricing.html">Pricing (Plans)</a></li>
							<li><a href="pricing-alt.html">Pricing charts</a></li>
							<li><a href="billing-form.html">Billing form</a></li>
							<li><a href="invoice.html">Invoice</a></li>
						</ul>
					</li>
					<li>
						<a href="account.html" data-toggle="sidebar">
							<i class="ion-flash"></i> <span>Features</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="email-templates.html">Email templates</a></li>
							<li><a href="gallery.html">Gallery</a></li>
							<li><a href="ui.html">UI Extras</a></li>
							<li><a href="docs.html">API Documentation</a></li>
							<li><a href="signup.html">Sign up</a></li>
							<li><a href="signin.html">Sign in</a></li>
							<li><a href="status.html">App Status</a></li>
						</ul>
					</li>
				</ul>
			</div>-->
			<div class="menu-section">
				<h3>Admin</h3>
				<ul>
					<li>
						<a href="/account" {% if account %} class="active" {% endif %} data-toggle="sidebar">
							<i class="ion-person"></i> <span>My account</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="/account" {% if account_menu %} class="active" {% endif %}>Settings</a></li>
							<li><a href="#">Billing</a></li>
							<li><a href="#">Notifications</a></li>
							<li><a href="#">Support</a></li>
						</ul>
					</li>
					<!--<li>
						<a href="#" data-toggle="sidebar">
							<i class="ion-usb"></i> <span>Level Navigation</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li>
								<a href="invoice.html" data-toggle="sidebar">
									Submenu
									<i class="fa fa-chevron-down"></i>
								</a>
								<ul class="submenu">
									<li><a href="#">Last menu</a></li>
									<li><a href="#">Last menu</a></li>
								</ul>
							</li>
							<li><a href="invoice.html">Menu link</a></li>
							<li><a href="#">Extra link</a></li>
						</ul>
					</li> -->
				</ul>
			</div>
			<div class="bottom-menu hidden-sm">
				<ul>
					<li><a href="#"><i class="ion-help"></i></a></li>
					<li>
						<a href="#">
							<i class="ion-archive"></i>
							<span class="flag"></span>
						</a>
						<ul class="menu">
							<li><a href="#">0 unread messages</a></li>
							<li><a href="#">0 tasks completed</a></li>
							<!-- <li><a href="#">3 features added</a></li> -->
						</ul>
					</li>
					<li><a href="{{ url_for('logout') }}"><i class="ion-log-out"></i></a></li>
				</ul>
			</div>
		</div>
        {% block content %} {% endblock %}
        
</body>
</html>
