{% extends "base2.html" %}
{% block header %}
    <!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/compiled/theme.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/animate.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/brankic.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/ionicons.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/font-awesome.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/datepicker.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/morris.css') }}" />

	<!-- javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/jquery.cookie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/bootstrap-datepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/raphael-min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/morris.min.js') }}"></script>

	<script src="{{ url_for('static', filename='js/vendor/jquery.flot/jquery.flot.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/jquery.flot/jquery.flot.time.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/jquery.flot/jquery.flot.tooltip.js') }}"></script>


	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% endblock %}

{% block startbody %}
<body id="dashboard">
{% endblock %}

{% block content %}
        <div id="content">
			<div class="menubar">
				<div class="sidebar-toggler visible-xs">
					<i class="ion-navicon"></i>
				</div>

				<div class="page-title">
					Dashboard
				</div>

				<div class="period-select hidden-xs">
					<form class="input-daterange">
						<!--
						<div class="input-group input-group-sm">
						  	<span class="input-group-addon">
						  		<i class="fa fa-calendar-o"></i>
						  	</span>
						  	<input name="start" type="text" class="form-control datepicker" placeholder="{{ startDate }}" />
						</div>
						
						<p class="pull-left">to</p>

						<div class="input-group input-group-sm">
						  	<span class="input-group-addon">
						  		<i class="fa fa-calendar-o"></i>
						  	</span>
						  	<input name="end" type="text" class="form-control datepicker" placeholder="{{ endDate }}" />
						</div>
						<div class="input-group input-group-sm" style="text-align:center;">
						    <a class="applyBtn btn btn-small btn-success" onclick="DateApply()">Apply</a>
						</div>
						-->
					</form>
				</div>
			</div>
			
			<!--
			<script>
			    function DateApply(){
			        var StartDate = $('input[name=start]').val();
			        if(StartDate == ""){
			            alert('please!Enter start date.');
			            return '';
			        }
			        
			        var EndDate = $('input[name=end]').val();
			        if(EndDate == ""){
			            alert('please!Enter end date.');
			            return '';
			        }
			        
			        StartDate = StartDate.split('/');
			        //StartDate = StartDate.reverse();
			        //StartDate = StartDate.join('-');
			        StartDate = StartDate[2]+"-"+StartDate[0]+"-"+StartDate[1];
			        
			        EndDate = EndDate.split('/');
			        //EndDate = EndDate.reverse();
			        //EndDate = EndDate.join('-');
			        EndDate = EndDate[2]+"-"+EndDate[0]+"-"+EndDate[1];
			        
			        window.location.href = "/"+StartDate+"_"+EndDate;
			    }
			</script>
			-->

			<div class="content-wrapper">
				<div class="metrics clearfix">
					<div class="metric">
						<span class="field">Total users</span>
						<span class="data">{{ merchant_info.total_users }}</span>
					</div>
					<div class="metric">
						<span class="field">New sign ups</span>
						<span class="data">{{ merchant_info.new_users }}</span>
					</div>
					<div class="metric">
						<span class="field">Sales this month</span>
						<span class="data">${{ merchant_info.sales_this_month }}</span>
					</div>
					<div class="metric">
						<span class="field">Total Sales</span>
						<span class="data">${{ merchant_info.total_sales }}</span>
					</div>
				</div>

				<div class="chart">
					<h3>
						Concurrent visitors last 30 days

						<div class="total pull-right hidden-xs">
							{{ concurrent_total.total }} total
							
							<!--<div class="change up">
								<i class="fa fa-chevron-up"></i>
								10%
							</div>-->
						</div>
					</h3>
					<div id="visitors-chart"></div>
				</div>

				<div class="charts-half clearfix">
					<div class="chart pull-left">
						<h3>
							Succesful payments

							<div class="total pull-right hidden-xs">
								${{successful_payments_total.total }} total
								
								<!--<div class="change up">
									<i class="fa fa-chevron-up"></i>
									6.5%
								</div>-->
							</div>
						</h3>
						<div id="payments-chart"></div>
					</div>
					<div class="chart pull-right">
						<h3>
							New customers

							<div class="total pull-right hidden-xs">
								{{ new_customer_total.total }} total
								
								<!--<div class="change down">
									<i class="fa fa-chevron-down"></i>
									3.5%
								</div>-->
							</div>
						</h3>
						<div id="signups-chart"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="barchart">
							<h3>Today's check-ins</h3>
							<div id="bar-chart"></div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="referrals">
							<h3>Segments</h3>
							<div id="pie-chart" style="position:relative;height:100%;"></div>
							<!--<div class="referral">
								<span>
									www.google.com

									<div class="pull-right">
										<span class="data">293</span>  67%
									</div>
								</span>
								<div class="progress">
								  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
								  	</div>
								</div>
							</div>
							<div class="referral">
								<span>
									www.facebook.com

									<div class="pull-right">
										<span class="data">104</span>  17%
									</div>
								</span>
								<div class="progress">
								  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 17%">
								  	</div>
								</div>
							</div>
							<div class="referral">
								<span>
									www.twitter.com

									<div class="pull-right">
										<span class="data">57</span>  10%
									</div>
								</span>
								<div class="progress">
								  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
								  	</div>
								</div>
							</div>
							<div class="referral">
								<span>
									www.instagram.com

									<div class="pull-right">
										<span class="data">29</span>  6%
									</div>
								</span>
								<div class="progress">
								  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 6%">
								  	</div>
								</div>
							</div>
							-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<script type="text/javascript">
		$(function () {
			
	        // Range Datepicker
	        $('.input-daterange').datepicker({
	        	autoclose: true,
	        	orientation: 'right top',
	        	endDate: new Date()
	        });

	        // Flot Charts
	        var chart_border_color = "#efefef";
			var chart_color = "#b0b3e3";
            
            
            var d3 = [
		            {% for new_cust in new_customer %}
		                {% if loop.last %}
		                    [ {{ new_cust.new_customer_date|timeformat }} ,  {{new_cust.new_customers|safe}}]
		                {% else %}
		                    [ {{ new_cust.new_customer_date|timeformat }} ,  {{new_cust.new_customers|safe}}],
		                {% endif %}
	                {% endfor %}
		     ];
            
            
            var d = [
		            {% for c_info in concurrent_info %}
		                {% if loop.last %}
		                    [ {{ c_info.checkin_date|timeformat }} ,  {{c_info.concurrent_users|safe}}]
		                {% else %}
		                    [ {{ c_info.checkin_date|timeformat }} ,  {{c_info.concurrent_users|safe}}],
		                {% endif %}
	                {% endfor %}
		     ];
		     
		     
		     
			//var d = [[utils.get_timestamp(15), 1290], [utils.get_timestamp(14), 1050], [utils.get_timestamp(13), 1100], [utils.get_timestamp(12), 1300], [utils.get_timestamp(11), 1050], [utils.get_timestamp(10), 1521], [utils.get_timestamp(9), 950], [utils.get_timestamp(8), 1130], [utils.get_timestamp(7), 1100], [utils.get_timestamp(6), 1472], [utils.get_timestamp(5), 1410], [utils.get_timestamp(4), 1684], [utils.get_timestamp(3), 1410], [utils.get_timestamp(2), 1322], [utils.get_timestamp(1), 1050], [utils.get_timestamp(0), 1238]];
            var d2 = [
		            {% for succ_payment in successful_payments %}
		                {% if loop.last %}
		                    [ {{ succ_payment.sale_date|timeformat }} ,  {{succ_payment.total_sales|safe}}]
		                {% else %}
		                    [ {{ succ_payment.sale_date|timeformat }} ,  {{succ_payment.total_sales|safe}}],
		                {% endif %}
	                {% endfor %}
		     ];
		     
			//var d2 = [[utils.get_timestamp(14), 1500], [utils.get_timestamp(13), 1600], [utils.get_timestamp(12), 1630], [utils.get_timestamp(11), 1310], [utils.get_timestamp(10), 1530], [utils.get_timestamp(9), 2050], [utils.get_timestamp(8), 2310], [utils.get_timestamp(7), 2050], [utils.get_timestamp(6), 2125], [utils.get_timestamp(5), 1400], [utils.get_timestamp(4), 1600], [utils.get_timestamp(3), 1930], [utils.get_timestamp(2), 2000], [utils.get_timestamp(1), 2320]];
		
			var options = {
				xaxis : {
					mode : "time",
					timeformat : "%b %e",
					tickLength : 10
				},
				series : {
					lines : {
						show : true,
						lineWidth : 2,
						fill : true,
						fillColor : {
							colors : [{
								opacity : 0.04
							}, {
								opacity : 0.1
							}]
						}
					},
					shadowSize : 0
				},
				selection : {
					mode : "x"
				},
				grid : {
					hoverable : true,
					clickable : true,
					tickColor : chart_border_color,
					borderWidth : 0,
					borderColor : chart_border_color,
				},
				tooltip : true,
				colors : [chart_color]
			};
		
			var plot = $.plot($("#visitors-chart"), [d], $.extend(options, {
				tooltipOpts : {
					content : "Visitors on <b>%x</b>: <span class='value'>%y</span>",
					defaultTheme : false,
					shifts: {
						x: -75,
						y: -70
					}
				}
			}));

			var plot2 = $.plot($("#payments-chart"), [d2], $.extend(options, {
				tooltipOpts : {
					content : "Payments on <b>%x</b>: <span class='value'>$%y</span>",
					defaultTheme : false,
					shifts: {
						x: -75,
						y: -70
					}
				}
			}));

			var plot3 = $.plot($("#signups-chart"), [d3], $.extend(options, {
				tooltipOpts : {
					content : "New signups on <b>%x</b>: <b class='value'>%y</b>",
					defaultTheme : false,
					shifts: {
						x: -78,
						y: -70
					}
				}
			}));


			// Bar chart (visitors)
            var dBar = [{% for customer_time in customers_time_info %}{% if loop.last %}[ {{ customer_time.checkin_hour|create_time }} ,  {{ customer_time.total_users }}]{% else %}[ {{ customer_time.checkin_hour|create_time }} , {{ customer_time.total_users }}],{% endif %}{% endfor %}];
			//var dBar = [[utils.get_timestamp(30), 930], [utils.get_timestamp(29), 1200], [utils.get_timestamp(28), 980], [utils.get_timestamp(27), 950], [utils.get_timestamp(26), 1000], [utils.get_timestamp(25), 1050], [utils.get_timestamp(24), 1150], [utils.get_timestamp(23), 2300], [utils.get_timestamp(22), 1200], [utils.get_timestamp(21), 1300], [utils.get_timestamp(20), 1700], [utils.get_timestamp(19), 1450], [utils.get_timestamp(18), 1500], [utils.get_timestamp(17), 546], [utils.get_timestamp(16), 614], [utils.get_timestamp(15), 954], [utils.get_timestamp(14), 1700], [utils.get_timestamp(13), 1800], [utils.get_timestamp(12), 1900], [utils.get_timestamp(11), 2000], [utils.get_timestamp(10), 2100], [utils.get_timestamp(9), 2200], [utils.get_timestamp(8), 2300], [utils.get_timestamp(7), 2400], [utils.get_timestamp(6), 2550], [utils.get_timestamp(5), 2600], [utils.get_timestamp(4), 1800], [utils.get_timestamp(3), 2200], [utils.get_timestamp(2), 2350], [utils.get_timestamp(1), 2800], [utils.get_timestamp(0), 3245]];

			var options2 = {
				yaxes: {
			        min: 0
			    },
				xaxis : {
					mode : "time",
					timeformat: "%I %P"
				},
				series : {
					bars : {
						show : true,
						lineWidth: 0,
						barWidth: 30*60*1000,//47000000, // for bar charts, this is width in milliseconds (86400000 would be the width of a day)
						align: 'center',
						fillColor : {
							colors : [{ opacity : 0.7 }, { opacity : 0.7 }]
						}
					}
				},
				grid : {
					show: true,
					hoverable : true,
					clickable : true,
					tickColor : chart_border_color,
					borderWidth : 0,
					borderColor : chart_border_color,
				},
				tooltip : true,
				tooltipOpts : {
					content : "Visits on <b>%x</b>: <span class='value'>%y</span>",
					defaultTheme : false,
					shifts: {
						x: -65,
						y: -70
					}
				},
				colors : ["#4fa3d5"]
			};
			var plot4 = $.plot($("#bar-chart"), [dBar], options2);
			
			
			var dPie = [
			        {% for segment in segment_info %}
			            {% if loop.last %}
		                    { label: "{{ segment.segment_type }}" , value: {{segment.customers}} }
		                {% else %}
		                    { label: "{{ segment.segment_type }}" , value: {{segment.customers}} },
		                {% endif %}
			        {% endfor %}
			];
			
			var plot5 = Morris.Donut({
                              element: 'pie-chart',
                              data: dPie,
                              resize: true
                              });
			
			//var plot5 = $.plot($('#pie-chart'), dPie, {
            //        series: {
            //            pie: {
            //                show: true
            //            }
            //        },
            //        legend: {
            //            show: false
            //        }
            //    });
		});
	</script>

{% endblock %}

