{% extends "base.html" %}
{% block startbody %}
<body id="reports">
{% endblock %}

{% block content %}
		<div id="content">
			<div class="menubar">
				<div class="sidebar-toggler visible-xs">
					<i class="ion-navicon"></i>
				</div>
				
				<div class="page-title">
					Reports
				</div>
				<div class="options pull-right">
					<a href="#"><i class="fa fa-print"></i> Print</a>
					<a href="#"><i class="fa fa-download"></i> Download</a>
				</div>
			</div>

			<div class="content-wrapper">
				<div class="stats clearfix">
					<div class="stat">
						<label>Total customers</label>
						<div class="value">
							512,928
							<div class="change up">
								<i class="fa fa-caret-up"></i>
								15%
							</div>
						</div>
					</div>
					<div class="stat">
						<label>Open accounts</label>
						<div class="value">
							1,890,344
							<div class="change down">
								<i class="fa fa-caret-down"></i>
								4%
							</div>
						</div>
					</div>
					<div class="stat">
						<label>New signups</label>
						<div class="value">
							3,045
							<div class="change up">
								<i class="fa fa-caret-up"></i>
								5%
							</div>
						</div>
					</div>
					<div class="stat">
						<label>Closed deals</label>
						<div class="value">
							834
							<div class="change up">
								<i class="fa fa-caret-up"></i>
								9%
							</div>
						</div>
					</div>
				</div>
				<div class="chart">
					<h3>
						Revenue by day
						
						<div class="btn-group pull-right" data-toggle="buttons">
							<label class="btn btn-default active">
						    	<input type="radio" name="options" id="option1" /> Year
						  	</label>
						  	<label class="btn btn-default">
						    	<input type="radio" name="options" id="option1" /> Month
						  	</label>
						  	<label class="btn btn-default">
						    	<input type="radio" name="options" id="option2" /> Week
						  	</label>
						</div>
					</h3>
					<div id="sales-chart"></div>
				</div>

				<table id="datatable-example" style="width:100%;">
                    <thead>
                        <tr>
                            <th tabindex="0" rowspan="1" colspan="1">Payment Date
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Visa count
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">MasterCard Count
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Amex count
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Total Payments
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Sales Subtotal
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Gratuity
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Refund Subtotal
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Sales Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pmts_day in pmts_days %}
		                    <tr>
			                    <td>{{pmts_day.payment_date_display}}</td>
			                    <td>{{pmts_day.visa_cnt|safe}}</td>
			                    <td>{{pmts_day.mc_cnt|safe}}</td>
			                    <td>{{pmts_day.amex_cnt|safe}}</td>
			                    <td>{{pmts_day.total_payments|safe}}</td>
			                    <td>${{pmts_day.sales_subtotal|safe}}</td>
			                    <td>${{pmts_day.gratuity|safe}}</td>
			                    <td>${{pmts_day.refund_subtotal|safe}}</td>
			                    <td>${{pmts_day.sales_total|safe}}</td>
		                    </tr>
	                    {% endfor %}
                   	</tbody>
                </table>

			</div>
		</div>
	</div>

	
	<script type="text/javascript">
		$(function () {
			var chart_border_color = "#efefef";
			var chart_color = "#b0b3e3";

			/* sales chart */
		     var d = [
		            {% for pmts_day in another_pmts_days %}
		                {% if loop.last %}
		                    [ '{{pmts_day.payment_date}}' ,  {{pmts_day.sales_total|safe}}]
		                {% else %}
		                    [ '{{pmts_day.payment_date}}' ,  {{pmts_day.sales_total|safe}}],
		                {% endif %}
	                {% endfor %}
		     ]
			//var d = [[utils.get_timestamp(18), 1245], [utils.get_timestamp(17), 1290], [utils.get_timestamp(16), 1230], [utils.get_timestamp(15), 1290], [utils.get_timestamp(14), 1250], [utils.get_timestamp(13), 1100], [utils.get_timestamp(12), 1300], [utils.get_timestamp(11), 1250], [utils.get_timestamp(10), 1501], [utils.get_timestamp(9), 1400], [utils.get_timestamp(8), 1350], [utils.get_timestamp(7), 1390], [utils.get_timestamp(6), 1252], [utils.get_timestamp(5), 1410], [utils.get_timestamp(4), 1484], [utils.get_timestamp(3), 1410], [utils.get_timestamp(2), 1322], [utils.get_timestamp(1), 1320], [utils.get_timestamp(0), 1438]];
		
			var options = {
				xaxis : {
					mode : "time",
					timeformat: "%Y-%m-%d",
					tickLength : 5
				},
				series : {
					lines : {
						show : true,
						lineWidth : 2,
						fill : false
					},
					shadowSize : 0
				},
				selection : {
					mode : "x"
				},
				grid : {
					hoverable : true,
					clickable : true,
					tickColor : chart_border_color,
					borderWidth : 0,
					borderColor : chart_border_color,
				},
				tooltip : true,
				tooltipOpts : {
					content : "Your sales for <b>%x</b>: <span class='value'>$%y</span>",
					dateFormat : "%y-%0m-%0d",
					defaultTheme : false,
					shifts: {
						x: -75,
						y: -70
					}
				},
				colors : [chart_color],
		
			};
		
			var plot = $.plot($("#sales-chart"), [d], options);


			// datatables
			$('#datatable-example').dataTable({
                "sPaginationType": "full_numbers",
                "iDisplayLength": 20,
    			"aLengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]]
            });
			
		});
	</script>
{% endblock %}
