{% extends "base2.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/compiled/theme.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/animate.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/brankic.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/ionicons.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/font-awesome.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-daterangepicker.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/jquery.dataTables.css') }}" />


	<!-- javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/bootstrap-daterangepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/jquery.dataTables.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/jquery.cookie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/theme.js') }}"></script>

	<script src="{{ url_for('static', filename='js/vendor/jquery.flot/jquery.flot.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/jquery.flot/jquery.flot.categories.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/jquery.flot/jquery.flot.tooltip.js') }}"></script>
{% endblock %}
{% block startbody %}
<body id="reports-alt">
{% endblock %}
{% block content %}
		<div id="content">
			<div class="menubar">
				<div class="sidebar-toggler visible-xs">
					<i class="ion-navicon"></i>
				</div>

				<div class="page-title">
					Reports / Sales this Year by Month
				</div>
				<!--
				<div class="options pull-right hidden-xs">
					<a href="#"><i class="fa fa-print"></i> Print</a>
					<a href="#"><i class="fa fa-download"></i> Download</a>
				</div>
				-->
				<div class="date-range pull-right">
					<div class="input-group input-group-sm">
					  	<span class="input-group-addon">
					  		<i class="fa fa-calendar-o"></i>
					  	</span>
					  	<input type="text" name="daterange" class="form-control" placeholder="05/01/2014 - 05/31/2014" />
					</div>
				</div>
			</div>

			<div class="content-wrapper">
				<div class="chart">
					<div class="bar-chart-wrapper">
						<div id="bar-chart"></div>
					</div>
					<label class="yaxis">Month, year, Sales</label>
				</div>

				<!--
				<div class="filters">
					
					<div class="btn-group">
					  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					    	Edit properties <span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
					    	<li><a href="#">Action</a></li>
					    	<li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li class="divider"></li>
						    <li><a href="#">Separated link</a></li>
					  	</ul>
					</div>
				</div>
				-->

				<div class="data">
					<table id="datatable-example">
	                    <thead>
	                        <tr>
	                            <th tabindex="0" rowspan="1" colspan="1">Payment Month
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Total Payments
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Sales Subtotal
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Gratuity
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Refund Subtotal
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Sales Total
	                            </th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        {% for pmts_year in pmts_years %}
	                            <tr>
	                                <td>
	                                    {{ pmts_year.payment_month_display }}
	                                </td>
	                                <td>
	                                    {{ pmts_year.total_payments|safe }}
	                                </td>
	                                <td class="center">
	                                    ${{ pmts_year.sales_subtotal|safe }}
	                                </td>
	                                <td class="center">
	                                    ${{ pmts_year.gratuity|safe }}
	                                </td>
	                                <td class="center">
	                                    ${{ pmts_year.refund_subtotal|safe }}
	                                </td>
	                                <td class="center">
	                                    ${{ pmts_year.sales_total|safe }}
	                                </td>
	                            </tr>
	                        {% endfor %}
	                   	</tbody>
	                </table>
	            </div>
			</div>
		</div>
	</div>

	
	<script type="text/javascript">
		$(function () {

			// daterange input
			$('input[name="daterange"]').daterangepicker({
				ranges: {
				 	'Today': [moment(), moment()],
				 	'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
				 	'Last 7 Days': [moment().subtract('days', 6), moment()],
				 	'This Month': [moment().startOf('month'), moment().endOf('month')],
				 	'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
				},
				opens: "left",
				startDate: moment().subtract('days', 29),
				endDate: moment()
			});


			// datatable
			$('#datatable-example').dataTable({
                "sPaginationType": "full_numbers",
                "iDisplayLength": 20,
    			"aLengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]]
            });

			// bar chart
	        var $chrt_border_color = "#efefef";
			var $chrt_second = "#4fa3d5";
            
            var dBar = [
                {% for pmts_year in another_pmts_years %}
                    {% if loop.last %}
                        [ "{{ pmts_year.payment_month_display }}" ,  {{ pmts_year.sales_total|safe }} ]
                    {% else %}
                        [ "{{ pmts_year.payment_month_display }}" ,  {{ pmts_year.sales_total|safe }} ],
                    {% endif %}
                {% endfor %}
            ];
			//var dBar = [["Jan", 2300.33], ["Feb", 1899.99], ["March", 8830.00], ["April", 1778.00], ["May", 4298.00], ["Jun", 2298.00], ["Jul", 4298.00], ["Aug", 1798.00], ["Sep", 6139.99], ["Oct", 834.00], ["Nov", 1855.99], ["Dec", 3433.99]];

			var options = {
				yaxes: {
			        min: 0
			    },
				xaxis : {
					mode: "categories",
					tickLength: 0,
					ticks: [[0, "January"], [1, "February"],[2, "March"],[3, "April"],[4, "May"],[5, "June"], [6, "July"],[7, "August"],[8, "September"], [9, "October"], [10, "November"], [11, "December"]],
				},
				series : {
					bars : {
						show : true,
						lineWidth: 0,
						barWidth: 0.55,
						align: 'center',
						fillColor : {
							colors : [{ opacity : 1 }, { opacity : 1 }]
						}
					}
				},
				grid : {
					show: true,
					hoverable : true,
					clickable : true,
					tickColor : $chrt_border_color,
					borderWidth : 0,
					borderColor : $chrt_border_color,
				},
				tooltip : true,
				tooltipOpts : {
					content: function (a, b, c, d) {
						return "Sales on <b>" + b + "</b>: <span class='value'>$" + c.formatMoney(2) + "</span>";
					},
					defaultTheme : false,
					shifts: {
						x: -65,
						y: -70
					}
				},
				colors : [$chrt_second],
			};

			var plot = $.plot($("#bar-chart"), [dBar], options);
		});
	</script>
{% endblock %}
