{% extends "base2.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/compiled/theme.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/animate.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/brankic.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/ionicons.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/font-awesome.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap-daterangepicker.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/datepicker.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/jquery.dataTables.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/morris.css') }}" />


	<!-- javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/bootstrap-daterangepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/bootstrap-datepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/jquery.dataTables.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/jquery.cookie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/raphael-min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/morris.min.js') }}"></script>
	
	<style>
	    #reports-alt .menubar .period-select {
  float: right;
  min-width: 350px;
  position: relative;
  top: -3px; }
  #reports-alt .menubar .period-select .input-group {
    width: 150px;
    float: left; }
    #reports-alt .menubar .period-select .input-group .input-group-addon {
      background: #F0F4F8; }
    #reports-alt .menubar .period-select .input-group i {
      font-size: 14px;
      color: #577FC7;
      position: relative;
      top: 1px; }
    #reports-alt .menubar .period-select .input-group input[type="text"] {
      height: 31px;
      line-height: 18px;
      font-size: 14px;
      color: #777; }
  #reports-alt .menubar .period-select p {
    position: relative;
    top: 4px;
    margin: 0 12px; }
	
	</style>
	
{% endblock %}
{% block startbody %}
<body id="reports-alt">
{% endblock %}
{% block content %}
		<div id="content">
			<div class="menubar">
				<div class="sidebar-toggler visible-xs">
					<i class="ion-navicon"></i>
				</div>

				<div class="page-title">
					Dashboard
				</div>

				<div class="period-select hidden-xs">
					<form class="input-daterange">
						
						<div class="input-group input-group-sm">
						  	<span class="input-group-addon">
						  		<i class="fa fa-calendar-o"></i>
						  	</span>
						  	<input name="start" type="text" class="form-control datepicker" placeholder="{{ startDate }}" />
						</div>
						
						<p class="pull-left">to</p>

						<div class="input-group input-group-sm">
						  	<span class="input-group-addon">
						  		<i class="fa fa-calendar-o"></i>
						  	</span>
						  	<input name="end" type="text" class="form-control datepicker" placeholder="{{ endDate }}" />
						</div>
						<div class="input-group input-group-sm" style="text-align:center;">
						    <a class="applyBtn btn btn-small btn-success" onclick="DateApply()">Apply</a>
						</div>
					</form>
				</div>
			</div>
			
			<script>
			    function DateApply(){
			        var StartDate = $('input[name=start]').val();
			        if(StartDate == ""){
			            alert('please!Enter start date.');
			            return '';
			        }
			        
			        var EndDate = $('input[name=end]').val();
			        if(EndDate == ""){
			            alert('please!Enter end date.');
			            return '';
			        }
			        
			        StartDate = StartDate.split('/');
			        //StartDate = StartDate.reverse();
			        //StartDate = StartDate.join('-');
			        StartDate = StartDate[2]+"-"+StartDate[0]+"-"+StartDate[1];
			        
			        EndDate = EndDate.split('/');
			        //EndDate = EndDate.reverse();
			        //EndDate = EndDate.join('-');
			        EndDate = EndDate[2]+"-"+EndDate[0]+"-"+EndDate[1];
			        
			        window.location.href = "/report-wire/"+StartDate+"_"+EndDate;
			    }
			    
			    $(function () {
			
	                // Range Datepicker
	                $('.input-daterange').datepicker({
	                	autoclose: true,
	                	orientation: 'right top',
	                	endDate: new Date()
	                });
	           });
			    
			</script>
			
			
			<div class="content-wrapper">
				<div class="chart">
					<div class="bar-chart-wrapper">
						<div id="bar-chart"></div>
					</div>
				</div>

				<!--
				<div class="filters">
					
					<div class="btn-group">
					  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					    	Edit properties <span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu" role="menu">
					    	<li><a href="#">Action</a></li>
					    	<li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li class="divider"></li>
						    <li><a href="#">Separated link</a></li>
					  	</ul>
					</div>
				</div>
				-->

				<div class="data">
					<table id="datatable-example">
	                    <thead>
	                        <tr>
	                            <th tabindex="0" rowspan="1" colspan="1">Payment Date
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Total Payments
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Batch Amount
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Deposit Date
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Platform Fees
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Refund Amount
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Deposit Amount
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Wire Date
	                            </th>
	                            <th tabindex="0" rowspan="1" colspan="1">Wire Amount
	                            </th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        {% for wire in wire_details %}
	                            <tr>
	                                <td>
	                                    {{ wire.payment_date_display }}
	                                </td>
	                                <td>
	                                    {{ wire.total_payments|safe }}
	                                </td>
	                                <td class="center">
	                                    ${{ wire.batch_amount }}
	                                </td>
	                                <td class="center">
	                                    {{ wire.deposit_date }}
	                                </td>
	                                <td class="center">
	                                    ${{ wire.platform_fee }}
	                                </td>
	                                <td class="center">
	                                    ${{ wire.refund_amount }}
	                                </td>
	                                <td class="center">
	                                    ${{ wire.deposit_amount }}
	                                </td>
	                                <td class="center">
	                                    {{ wire.wire_date }}
	                                </td>
	                                <td class="center">
	                                    ${{ wire.wire_amount }}
	                                </td>
	                            </tr>
	                        {% endfor %}
	                   	</tbody>
	                </table>
	            </div>
			</div>
		</div>
	</div>

	
	<script type="text/javascript">
		$(function () {

			// daterange input
			$('input[name="daterange"]').daterangepicker({
				ranges: {
				 	'Today': [moment(), moment()],
				 	'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
				 	'Last 7 Days': [moment().subtract('days', 6), moment()],
				 	'This Month': [moment().startOf('month'), moment().endOf('month')],
				 	'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
				},
				opens: "left",
				startDate: moment().subtract('days', 29),
				endDate: moment()
			});


			// datatable
			$('#datatable-example').dataTable({
                "sPaginationType": "full_numbers",
                "iDisplayLength": 20,
    			"aLengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]]
            });
            
            var dBar = [
                {% for wire2 in another_wire_details %}
                    {% if loop.last %}
                        { date : "{{ wire2.payment_date_display }}" , value : {{ wire2.wire_amount }} }
                    {% else %}
                        { date : "{{ wire2.payment_date_display }}" , value : {{ wire2.wire_amount }} },
                    {% endif %}
                {% endfor %}
            ];

			var plot = new Morris.Bar({
			            element: 'bar-chart',
                        data: dBar,
                        xkey: 'date',
                        ykeys: ['value'],
                        labels: ['Amount'],
                        resize: true
			});
		});
	</script>
{% endblock %}
