<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<title>sign in</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/compiled/theme.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/brankic.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/ionicons.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/font-awesome.min.css') }}" />

	<!-- javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/theme.js') }}"></script>

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="signin" class="clear">


	<a href="index.html" class="logo">
		<i class="brankic-pen"></i>
	</a>
    {% if error %}
        <h3>{{ error }}</h3>
    {% else %}
	    <h3>Welcome back!</h3>
	{% endif %}

	<div class="content">
		<form action="{{ url_for('login') }}" method="POST">
			<div class="fields">
				<strong>Email address</strong>
				<input class="form-control" type="text" placeholder="Your email" name="email" />
			</div>
			<div class="fields">
				<strong>Password</strong>
				<input class="form-control" type="password" placeholder="Password" name="password" />
			</div>
			<div class="info">
				<label>
					<input type="checkbox" name="remember" checked />
					Remember me
				</label>
			</div>
			
			<div class="actions">
				<!--<a href="index.html" class="btn btn-primary btn-lg">Sign in to your account</a>-->
				<input type="submit" class="btn btn-primary btn-lg" value="Sign in to your account">
			</div>
			-
		</form>
	</div>

	<div class="bottom-wrapper">
		<div class="message">
			<span>Don't have an account?</span>
			<a href="signup.html">Sign up here</a>.
		</div>
	</div>
</body>
</html>
